{# Nunjucks Templating! Homepage: https://mozilla.github.io/nunjucks/ Docs: https://mozilla.github.io/nunjucks/api.html #} {% extends 'layouts/application.html' %} {% block content %}
<div class="owl-carousel full-carousel">
  <div class="item" data-index="0">
    <h1 class="full-carousel__header">Lorem ipsum dolor0.</h1>
    <p class="full-carousel__body full-carousel__body-tab0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula euismod tellus vel hendrerit. Phasellus sed erat tortor.</p>
  </div>
  <div class="item" data-index="1">
    <h1 class="full-carousel__header">Lorem ipsum dolor1.</h1>
    <p class="full-carousel__body full-carousel__body-tab1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula euismod tellus vel hendrerit. Phasellus sed erat tortor.</p>
  </div>
  <div class="item" data-index="2">
    <h1 class="full-carousel__header">Lorem ipsum dolor2.</h1>
    <p class="full-carousel__body full-carousel__body-tab2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula euismod tellus vel hendrerit. Phasellus sed erat tortor.</p>
  </div>
  <div class="item" data-index="3">
    <h1 class="full-carousel__header">Lorem ipsum dolor3.</h1>
    <p class="full-carousel__body full-carousel__body-tab3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula euismod tellus vel hendrerit. Phasellus sed erat tortor.</p>
  </div>
  <div class="item" data-index="4">
    <h1 class="full-carousel__header">Lorem ipsum dolor4.</h1>
    <p class="full-carousel__body full-carousel__body-tab4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula euismod tellus vel hendrerit. Phasellus sed erat tortor.</p>
  </div>
  <div class="item last-item" data-index="5">
    <h1 class="full-carousel__header">Lorem ipsum dolor5.</h1>
    <p class="full-carousel__body full-carousel__body-tab5 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula euismod tellus vel hendrerit. Phasellus sed erat tortor.</p>
  </div>
</div>
{% endblock %}